openapi: 3.0.1
info:
  title: Blaxel Control Plane Agents Workspaces API
  description: Representative specification of the Blaxel (formerly Beamlit) control plane REST API. The control plane manages agents, MCP/function servers, models, sandboxes, jobs, policies, integrations, and workspaces. Authenticate with a Bearer API key (Authorization or X-Blaxel-Authorization header) or an OAuth 2.0 short-lived JWT. Requests may include a Blaxel-Version header (YYYY-MM-DD) and, for multi-workspace accounts, an X-Blaxel-Workspace header.
  termsOfService: https://blaxel.ai/terms-of-service
  contact:
    name: Blaxel Support
    email: support@blaxel.ai
  version: v0
servers:
- url: https://api.blaxel.ai/v0
security:
- apiKey: []
- bearerAuth: []
tags:
- name: Workspaces
paths:
  /workspaces:
    get:
      operationId: listWorkspaces
      tags:
      - Workspaces
      summary: List all workspaces the caller belongs to.
      responses:
        '200':
          description: A list of workspaces.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
    post:
      operationId: createWorkspace
      tags:
      - Workspaces
      summary: Create a new workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
      responses:
        '200':
          description: The created workspace.
  /workspaces/{workspace_name}:
    parameters:
    - name: workspace_name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWorkspace
      tags:
      - Workspaces
      summary: Get a workspace by name.
      responses:
        '200':
          description: The requested workspace.
    put:
      operationId: updateWorkspace
      tags:
      - Workspaces
      summary: Update a workspace by name.
      responses:
        '200':
          description: The updated workspace.
    delete:
      operationId: deleteWorkspace
      tags:
      - Workspaces
      summary: Delete a workspace by name.
      responses:
        '200':
          description: The deleted workspace.
  /users:
    get:
      operationId: listWorkspaceUsers
      tags:
      - Workspaces
      summary: List users in the current workspace.
      responses:
        '200':
          description: A list of workspace users.
    post:
      operationId: inviteWorkspaceUser
      tags:
      - Workspaces
      summary: Invite a user to the current workspace.
      responses:
        '200':
          description: The invited user.
components:
  schemas:
    Workspace:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        region:
          type: string
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Blaxel-Authorization
      description: API key supplied as "Bearer YOUR-API-KEY".
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 short-lived JWT access token.
