openapi: 3.0.1
info:
  title: Blaxel Control Plane Agents Jobs API
  description: Representative specification of the Blaxel (formerly Beamlit) control plane REST API. The control plane manages agents, MCP/function servers, models, sandboxes, jobs, policies, integrations, and workspaces. Authenticate with a Bearer API key (Authorization or X-Blaxel-Authorization header) or an OAuth 2.0 short-lived JWT. Requests may include a Blaxel-Version header (YYYY-MM-DD) and, for multi-workspace accounts, an X-Blaxel-Workspace header.
  termsOfService: https://blaxel.ai/terms-of-service
  contact:
    name: Blaxel Support
    email: support@blaxel.ai
  version: v0
servers:
- url: https://api.blaxel.ai/v0
security:
- apiKey: []
- bearerAuth: []
tags:
- name: Jobs
paths:
  /jobs:
    get:
      operationId: listJobs
      tags:
      - Jobs
      summary: List all jobs in the workspace.
      responses:
        '200':
          description: A list of jobs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Job'
    post:
      operationId: createJob
      tags:
      - Jobs
      summary: Create a new job.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
      responses:
        '200':
          description: The created job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
  /jobs/{job_id}:
    parameters:
    - name: job_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getJob
      tags:
      - Jobs
      summary: Get a job by id.
      responses:
        '200':
          description: The requested job.
    put:
      operationId: updateJob
      tags:
      - Jobs
      summary: Update a job by id.
      responses:
        '200':
          description: The updated job.
    delete:
      operationId: deleteJob
      tags:
      - Jobs
      summary: Delete a job by id.
      responses:
        '200':
          description: The deleted job.
  /jobs/{job_id}/executions:
    parameters:
    - name: job_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: listJobExecutions
      tags:
      - Jobs
      summary: List executions for a job.
      responses:
        '200':
          description: A list of job executions.
    post:
      operationId: createJobExecution
      tags:
      - Jobs
      summary: Create (run) a job execution.
      responses:
        '200':
          description: The created job execution.
  /jobs/{job_id}/executions/{execution_id}:
    parameters:
    - name: job_id
      in: path
      required: true
      schema:
        type: string
    - name: execution_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getJobExecution
      tags:
      - Jobs
      summary: Get a job execution.
      responses:
        '200':
          description: The requested job execution.
    delete:
      operationId: deleteJobExecution
      tags:
      - Jobs
      summary: Delete a job execution.
      responses:
        '200':
          description: The deleted job execution.
components:
  schemas:
    Job:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        spec:
          type: object
          properties:
            runtime:
              type: object
            maxConcurrentTasks:
              type: integer
            maxRetries:
              type: integer
            timeout:
              type: integer
    Metadata:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        workspace:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        labels:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Blaxel-Authorization
      description: API key supplied as "Bearer YOUR-API-KEY".
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 short-lived JWT access token.
