openapi: 3.0.1
info:
  title: Blaxel Control Plane Agents Service Accounts API
  description: Representative specification of the Blaxel (formerly Beamlit) control plane REST API. The control plane manages agents, MCP/function servers, models, sandboxes, jobs, policies, integrations, and workspaces. Authenticate with a Bearer API key (Authorization or X-Blaxel-Authorization header) or an OAuth 2.0 short-lived JWT. Requests may include a Blaxel-Version header (YYYY-MM-DD) and, for multi-workspace accounts, an X-Blaxel-Workspace header.
  termsOfService: https://blaxel.ai/terms-of-service
  contact:
    name: Blaxel Support
    email: support@blaxel.ai
  version: v0
servers:
- url: https://api.blaxel.ai/v0
security:
- apiKey: []
- bearerAuth: []
tags:
- name: Service Accounts
paths:
  /service_accounts:
    get:
      operationId: getWorkspaceServiceAccounts
      tags:
      - Service Accounts
      summary: List service accounts in the workspace.
      responses:
        '200':
          description: A list of service accounts.
    post:
      operationId: createWorkspaceServiceAccount
      tags:
      - Service Accounts
      summary: Create a workspace service account.
      responses:
        '200':
          description: The created service account.
  /service_accounts/{client_id}/api_keys:
    parameters:
    - name: client_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: listApiKeysForServiceAccount
      tags:
      - Service Accounts
      summary: List API keys for a service account.
      responses:
        '200':
          description: A list of API keys.
    post:
      operationId: createApiKeyForServiceAccount
      tags:
      - Service Accounts
      summary: Create an API key for a service account.
      responses:
        '200':
          description: The created API key.
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Blaxel-Authorization
      description: API key supplied as "Bearer YOUR-API-KEY".
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 short-lived JWT access token.
