openapi: 3.0.1
info:
  title: Blaxel Control Plane Agents Integrations API
  description: Representative specification of the Blaxel (formerly Beamlit) control plane REST API. The control plane manages agents, MCP/function servers, models, sandboxes, jobs, policies, integrations, and workspaces. Authenticate with a Bearer API key (Authorization or X-Blaxel-Authorization header) or an OAuth 2.0 short-lived JWT. Requests may include a Blaxel-Version header (YYYY-MM-DD) and, for multi-workspace accounts, an X-Blaxel-Workspace header.
  termsOfService: https://blaxel.ai/terms-of-service
  contact:
    name: Blaxel Support
    email: support@blaxel.ai
  version: v0
servers:
- url: https://api.blaxel.ai/v0
security:
- apiKey: []
- bearerAuth: []
tags:
- name: Integrations
paths:
  /integrations/{integration_name}:
    parameters:
    - name: integration_name
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getIntegration
      tags:
      - Integrations
      summary: Get an integration by name.
      responses:
        '200':
          description: The requested integration.
  /integrations/connections:
    get:
      operationId: listIntegrationConnections
      tags:
      - Integrations
      summary: List all integration connections in the workspace.
      responses:
        '200':
          description: A list of integration connections.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IntegrationConnection'
    post:
      operationId: createIntegrationConnection
      tags:
      - Integrations
      summary: Create a new integration connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationConnection'
      responses:
        '200':
          description: The created integration connection.
  /integrations/connections/{connection_name}:
    parameters:
    - $ref: '#/components/parameters/ConnectionName'
    get:
      operationId: getIntegrationConnection
      tags:
      - Integrations
      summary: Get an integration connection by name.
      responses:
        '200':
          description: The requested integration connection.
    put:
      operationId: updateIntegrationConnection
      tags:
      - Integrations
      summary: Update an integration connection by name.
      responses:
        '200':
          description: The updated integration connection.
    delete:
      operationId: deleteIntegrationConnection
      tags:
      - Integrations
      summary: Delete an integration connection by name.
      responses:
        '200':
          description: The deleted integration connection.
  /integrations/connections/{connection_name}/models:
    parameters:
    - $ref: '#/components/parameters/ConnectionName'
    get:
      operationId: listIntegrationConnectionModels
      tags:
      - Integrations
      summary: List models available through an integration connection.
      responses:
        '200':
          description: A list of connection models.
  /integrations/connections/{connection_name}/endpointConfigurations:
    parameters:
    - $ref: '#/components/parameters/ConnectionName'
    get:
      operationId: getIntegrationConnectionModelEndpointConfigurations
      tags:
      - Integrations
      summary: Get endpoint configurations for an integration connection.
      responses:
        '200':
          description: The endpoint configurations.
components:
  schemas:
    Metadata:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        workspace:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        labels:
          type: object
          additionalProperties:
            type: string
    IntegrationConnection:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        spec:
          type: object
          properties:
            integration:
              type: string
            config:
              type: object
            secret:
              type: object
  parameters:
    ConnectionName:
      name: connection_name
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Blaxel-Authorization
      description: API key supplied as "Bearer YOUR-API-KEY".
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 short-lived JWT access token.
